{% extends "base.twig" %}

{% block content %}
  <h1 class="title is-2">
    404 - Page not found.
  </h1>
  <p>The page you have looked for does not exist. Back to <a href="{{ site.link }}">home page</a>.</p>
{% endblock %}
