{% include 'header/index.twig' %}

<section class="section">
  <div class="container">
    <div class="columns">

      <div class="column is-7">
        {% block content %}
          {{ messages.base.no_content }}
        {% endblock %}
      </div>

      <aside class="column is-4 is-offset-1">
        {{ main_sidebar }}
      </aside>

    </div>
  </div>
</section>

{% include 'footer/index.twig' %}


