<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="{{ favicon }}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>{{ site.name }}</title>

  <style>
    .container {
      margin-top: 200px;
      text-align: center;
    }

    .logo {
      width: 320px;
      max-width: 80%;
      height: auto;
    }

    h1 {
      font-size: 2.8em;
      text-transform: capitalize;
      color: #00695C;
    }
  </style>

</head>
<body>
<div class="container">
  <img class="logo" src="{{ logo }}" alt="Base camp">
  <h1>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    &nbsp;Under maintenance&nbsp;
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  </h1>
</div>
</body>
</html>
