<form role="search" method="get" id="searchform" action="{{ site.link }}">

  <div class="field has-addons">

    {# Search input field #}
    <div class="control">
      <input class="input" type="search" name="s" id="s" placeholder="{{ messages.search_form.search }}" value="">
    </div>

    {# Search button #}
    <div class="control">
      <button type="submit" class="button is-primary">
        <span class="icon is-small">
          <i class="fa fa-search"></i>
        </span>
      </button>
    </div>

  </div>

</form>
