{% extends "base.twig" %}

{% block content %}
  <form class="password-form" action="{{ site.wp_link }}/wp-login.php?action=postpass" method="post">

    <div class="field">
      <label for="pwbox-{{ post.ID }}" class="label">Password</label>
      <p class="control has-icons-left">
        <input class="input" type="password" maxlength="20" name="post_password" id="pwbox-{{ post.ID }}"/>
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <p class="control">
        <input type="submit" name="Submit" value="Submit" class="button is-primary"/>
      </p>
    </div>

  </form>
{% endblock %}
