<div class="navbar-brand">

  <a class="navbar-item" href="{{ site.link }}">
    <img class="logo" src="{{ logo }}" alt="Base Camp">
  </a>

  <div class="navbar-burger">
    <span></span>
    <span></span>
    <span></span>
  </div>

</div>
