<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Base Camp</strong> by <a href="https://github.com/suomato">Toni Suomalainen</a>.
        The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  </div>
</footer>

{{ function('wp_footer') }}
</body>
</html>

