{% extends 'base.twig' %}

{% block content %}

  {% do action('woocommerce_before_main_content') %}

  <div class="before-shop-loop">
    {% do action('woocommerce_before_shop_loop') %}
  </div>

  <div class="products columns is-multiline">
    {% for post in products %}
      {% include ["woocommerce/tease-product.twig"] %}
    {% endfor %}
  </div>

  {% do action('woocommerce_after_shop_loop') %}
  {% do action('woocommerce_after_main_content') %}

{% endblock  %}
